@{
    ViewData["Title"] = "Informações da Base de Dados";
}

@model DatabaseViewModel

<h1>Pagina de Testes do Banco de Dados</h1>
<hr>
<main>
    <h2>Clínica <b>@Model.doacao.obj_id_clinica.Nome_Clinica</b></h2>
    <ul class="list-group">
        <li class="list-group-item">ID da Doação: @Model.doacao.id_doacao</li>
        <li class="list-group-item">Doador: <b>@Model.doacao.obj_id_doador.Nome_Doador</b></li>
        <li class="list-group-item">Data da Doação: @Model.doacao.Data_Doacao</li>
        <li class="list-group-item">Tipo Sanguíneo: @Model.doacao.obj_id_doador.Tipo_Sanguineo_Doador</li>
        <li class="list-group-item">Telefone: @Model.doacao.obj_id_doador.Telefone_Doador</li>
        <li class="list-group-item">Grau de Escolaridade do Sr.(a) @Model.doacao.obj_id_doador.Nome_Doador: @Model.doacao.obj_id_doador.obj_id_escolaridade.Grau_Escolaridade</li>
        <br>
        <li class="list-group-item">Agente que atendeu o sr(a) @Model.doacao.obj_id_doador.Nome_Doador: <b>@Model.doacao.obj_id_agente.Nome_Agente</b></li>
        <br>
        <li class="list-group-item">Local da Doação: @Model.doacao.obj_id_clinica.obj_cep_location.Bairro, @Model.doacao.obj_id_clinica.obj_cep_location.Cidade, @Model.doacao.obj_id_clinica.obj_cep_location.Estado</li>
    </ul>
    <br>
    <a class="btn btn-success" asp-controller="Auth" asp-action="Login">Retorne a pagina de Login</a>
</main>